{% extends "base.html.twig" %}


{% block body %}
	<link rel="stylesheet" href="{{ asset('css/resetForm.css') }}">

	<div class="card login-form">
		<div class="card-body">
			<h3 class="card-title text-center">Reinitialisation du mot de passe</h3>
			<div class="card-text">
				<form action="{{path('resetToken')}}" method="post">
					<div class="form-group">
						<label for="exampleInputEmail1">Saisissez votre email et un lien vous seras envoyer par mail afin de réinitialiser votre mot de passe</label>
						<input type="email" name="email" class="form-control form-control-sm contain" placeholder="Saisissez votre email de récupération" id="inputEmail3">
					</div>
					<button type="submit" class="btn btn-primary btn-block">Envoyer</button>
				</form>
			</div>
		</div>
	</div>

{% endblock %}

{% block title %}
	{{ parent()}}
{% endblock %}

{% block titre %}{% endblock %}
