{% extends 'base.html.twig' %}

{% block title %}Notre Carte
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="{{ asset('css/style.css') }}">

	<header class="bg-light py-5">
		<div class="container px-4 px-lg-5 my-5">
			<div class="text-center text-black">
				<h2 class="display-4 fw-bolder">Notre Carte</h2>

			</div>
		</div>
	</header>
	
	<!-- Section-->
	<section class="py-5">
		<div class="container px-4 px-lg-5 mt-5">
			<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"></div>
		</div>
	</section>



	<div class="row  justify-content-between  mt-3">

		{% for category in categories %}

        
			<div class="wrapper ms-0">
				<a href="{{ path(category.title)}}"/>  
					<div class="header">
						<img src="" alt="{{ category.title }}">
					</div>
					<h1 class="name">{{ category.title }}</h1>
					<div class="border"></div>
					
				</a>
			</div>
		{% endfor %}
	</div>
{% endblock %}
