@media only screen and (min-width: 1024px) {
  .menu {
    margin-top: 136px;
  }
}
.menu {
  line-height: 1.5;
  margin-top: 80px;
}
*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

div {
  display: block;
}
body {
  font-family: speedee_regular, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.3;
  color: #404040;
  overflow-x: hidden;
}
html {
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}
*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

@media only screen and (min-width: 1024px) {
  .breadcrumbs + .product,
  .menu section.product-presentation {
    margin-top: 0;
  }
}
.menu section.product-presentation {
  margin-top: 0;
}
.menu .rich-text:first-of-type,
.menu > section:first-of-type {
  margin-top: 0;
}
@media only screen and (min-width: 1024px) {
  .menu .rich-text,
  .menu > section {
    margin: 13rem 0;
  }
}
.menu .rich-text,
.menu > section {
  margin: 8rem 0;
}
@media only screen and (min-width: 768px) {
  .product-presentation {
    flex-direction: row;
  }
}
@media only screen and (min-width: 1024px) {
  .product-presentation {
    font-size: 2rem;
  }
}
.product-presentation {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
}

@media only screen and (min-width: 768px) {
  .columns:not(.is-large) {
    display: flex;
  }
}
.columns:last-child {
  margin-bottom: -10px;
}
.columns {
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
}
*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

.product-presentation .column:first-of-type {
  align-items: center;
}
.product-presentation .column {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .column.is-6,
  .column.is-6-medium {
    flex: none;
    width: 50%;
  }
}
.product-presentation .column {
    display: flex;
    flex-direction: column;
}
@media only screen and (min-width: 768px){
.column.is-5, .column.is-5-medium {
    flex: none;
    width: 41.6666666667%;
}}

@media only screen and (min-width: 768px){
.column.is-offset-1, .column.is-offset-1-medium {
    margin-left: 8.3333333333%;
}}

.product-presentation .cta-primary {
    margin-top: 32px;
    align-self: flex-start;
}
.cta-primary {
    background-color: #ffbc0d;
    border: 1px solid transparent;
    transition: background-color .3s ease-out;
}
@media only screen and (min-width: 1024px){
.cta-primary, .cta-secondary {
    width: auto;
    padding: 0 64px;
}}
.cta-primary, .cta-secondary {
    font-family: speedee_regular,Arial,sans-serif;
    font-size: 1.6rem;
    line-height: 1.3;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 64px;
    border-radius: 4px;
    color: #404040;
    text-align: center;
    text-decoration: none;
    border: 1px solid transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}